
/*
a 	{color: red;
	text-decoration: none;
	font-size: 18px;}
*/


#seg{color: green;
font-size: 30px;
}



.link {color: red;
font-size: 37px}

a.link {color: orange;
font-size: 37px}